$header-brand-margin-end: 0;
$sidebar-bg: white;
$sidebar-width: auto;
$sidebar-nav-title-color: grey;
$sidebar-nav-link-color: grey;
$sidebar-nav-link-hover-color: grey;
$sidebar-nav-link-hover-bg: rgb(236, 236, 236);
$sidebar-nav-link-icon-color: grey;
$sidebar-nav-link-hover-icon-color: grey;
$sidebar-nav-link-padding-x: 0;
$sidebar-nav-icon-width: 3.5rem;
$table-bg: white;
$body-color: grey;
$breadcrumb-margin-bottom: 0;
$breadcrumb-font-size: 12px;
